@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$font-main: Lato, sans-serif;
$font-sub: Roboto, sans-Serif;
$black: #212828;
$black-transparent: rgba(33,40,40,0.5);
$primary: #66B3BA;
$secondary: #8FB19C;
$white: #EEF4E1;
$accent: #AECE65;

$small: 'only screen and (min-width : 768px)';
$mid: 'only screen and (min-width : 992px)';
$large:'only screen and (min-width : 1200px)';
